<app-header titulo="grid"></app-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="4" size-sm="6"
              *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

        <ion-card>
          <ion-img src="/assets/harima.png"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur totam quas eum nulla consectetur
          esse harum eaque at. Minus cupiditate natus sequi doloribus inventore voluptates et suscipit. Voluptatem, aut?
        </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>