<app-header titulo="cards"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aliquam nobis omnis nostrum! Quam est impedit laborum ex quas consequatur minus sit, itaque enim qui consequuntur dignissimos deleniti ipsa placeat!
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2Foriginals%2Ffc%2F34%2F43%2Ffc3443f4ef9a3b0d9ad49e2840684850.jpg&f=1&nofb=1">
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aliquam nobis omnis nostrum! Quam est impedit laborum ex quas consequatur minus sit, itaque enim qui consequuntur dignissimos deleniti ipsa placeat!
    </ion-card-content>
  </ion-card>

</ion-content>
